

<div class="breadcrumb ">
  <h1 class=" mce-text-center">Distintas App</h1>
</div>


<div class="row row-cols-1 row-cols-md-2">
  <div class="col-6 mb-4">
    <div class="card">
      <img  (click)="IrPeliculas('peliculas')"src="https://www.galiciae.com/media/galiciae/images/2019/09/17/2019091717285056191.jpg" class="card-img-top puntero" alt="...">
      <div class="card-body">
        <h5 class="card-title">PELICULAS</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card">
      <img  src="https://gestion.pe/resizer/1vI7wFbxUV4T868GnP_kv1_Igso=/980x528/smart/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/HQMJSJXOKBCWRCTBY5ZPYYBEVM.jpg" class="card-img-top puntero" alt="...">
      <div class="card-body">
        <h5 class="card-title">MAPAS</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card">
      <img (click)="IrPeliculas('youtube')"  src="https://i.blogs.es/5471fd/youtube/1366_2000.jpg" class="card-img-top puntero" alt="...">
      <div class="card-body">
        <h5 class="card-title">YOUTUBE</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card">
      <img src="https://gestion.pe/resizer/1vI7wFbxUV4T868GnP_kv1_Igso=/980x528/smart/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/HQMJSJXOKBCWRCTBY5ZPYYBEVM.jpg" class="card-img-top puntero" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
    
  



