


<div class="row  mt-2" >

    <div class="col-12 ">
        <a [routerLink]="['/imagenes/cargaFotos']" class="float-right"  >  <button type="button" class="btn btn-outline-success"> <i class="fas fa-arrow-alt-left"></i>Cargar</button> </a> 
    </div>
   
</div>

<div class="row mt-3">
   <div class="col-12">

    <div class="card-columns">

        <div class="card" *ngFor="let foto of imagenes">
            <img class="card-img-top" [src]="foto.url">
            <div class="card-body">
                <h5 class="card-title">{{ foto.nombre }}</h5>
            </div>
        </div>
    
    </div>
    
   </div>

</div>
